---
import Layout from "../layouts/Layout.astro";
import { ResetPasswordForm } from "../components/ResetPasswordForm";

// No auth check - users access this with token from email
---

<Layout title="Reset Password - Task Planner">
  <div class="min-h-screen flex items-center justify-center px-4">
    <ResetPasswordForm client:load />
  </div>
</Layout>
